$blue: blue;

.Background {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.HeaderLogo {
    width: 190px;
    height: 40px;
}